# 1. Environment Variables (Secret Keys)
.env

# 2. Python Virtual Environment
venv/
env/
ENV/

# 3. Python Cache
__pycache__/
*.pyc

# 4. Streamlit Cache
.streamlit/

# 5. OS files
.DS_Store
Thumbs.db
